{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">


</head>
<body>
{% csrf_token %}
<div class="container" style="margin-top: 50px">
    <h1>会议室预定</h1>

    <div class="row">
        <div class="col-md-4 col-md-offset-8">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group inline-group">
                    <div class="errors"></div>
                    <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy"
                         data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        <input class="form-control" size="16" type="text" value="" id="rli" readonly
                               placeholder="请选择日期"/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <input type="hidden" id="dtp_input2" value=""/><br/>
                </div>
            </div>
            <div class="col-md-2" style="padding-left: 0">
                <button class="btn btn-primary save_data">保存</button>
            </div>
        </div>

    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>会议室</th>
            {% for time in times %}
                <th class="{{ forloop.counter }}">{{ time }}</th>
            {% endfor %}
        </tr>
        </thead>

        <tbody id="tBody">


        </tbody>

    </table>

</div>
<div id="shade" class="shade hid"></div>
<div id="loading" class="loading hid"></div>
<script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript">


    {#    $("#tBody").on("click",".ite",function () {#}
    {#        $(this).toggleClass("cl");#}
    {#    });#}
    {#$(".save_data").click(function () {#}
    {#        var data_list = [];#}
    {#        $(".cl").each(function () {#}
    {##}
    {#            tem = {#}
    {#                "room_id": $(this).attr("room_id"),#}
    {#                "time_id": $(this).attr("time_id"),#}
    {#                "day": $("#rli").val()#}
    {#            };#}
    {#            data_list.push(tem);#}
    {##}
    {#        }#}
    {#        );#}
    {#        console.log(data_list);#}
    {##}
    {##}
    {#        $.post({#}
    {#            url:'/booking/',#}
    {#            headers: {"X-CSRFToken": $.cookie("csrftoken")},#}
    {#            data: JSON.stringify(data_list),#}
    {#            contentType: "application/json",#}
    {#            success: function (data) {#}
    {#                if(data["success"]){#}
    {#                    $(".cl").text(data["user"]);#}
    {#                    $(".cl").css({"background-color":"gold","disabled":"disabled"});#}
    {#                    $("#rli").val(data["day"])#}
    {#                }#}
    {#                else{#}
    {#                    alert("预定失败，请检查您的订单")#}
    {#                }#}
    {#            }#}
    {##}
    {##}
    {#        })#}
    {##}
    {#    });#}



    // 对Date的扩展，将 Date 转化为指定格式的String
    // 月(M)、日(d)、小时(h)、分(m)、秒(s)、季度(q) 可以用 1-2 个占位符，
    // 年(y)可以用 1-4 个占位符，毫秒(S)只能用 1 个占位符(是 1-3 位的数字)
    // 例子：
    // (new Date()).Format("yyyy-MM-dd hh:mm:ss.S") ==> 2006-07-02 08:09:04.423
    // (new Date()).Format("yyyy-M-d h:m:s.S")      ==> 2006-7-2 8:9:4.18
    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    };

    SELECT_ROOM = {"DEL": {}, "ADD": {}};
    CHOSE_DATE = new Date().Format("yyyy-MM-dd");
    //页面加载的时候就执行
    $(function () {
        initDatePicker();
        BindTdEvent();
        bindSaveEvent();
        initBookInfo(new Date().Format('yyyy-MM-dd'))
    });
    // 初始化时间插件
    function initDatePicker() {
        $('.form_date').datetimepicker({
            format: 'yyyy-mm-dd',
            language: 'zh-CN',
            bootcssVer: 3,//bootstrap3,避免小图标不出现,好像没什么卵用
            weekStart: 1,
            startDate: new Date(), //起始时间
            todayBtn: 1,
            {#        autoclose: 1,#} //是否自动关闭
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        }).on("changeDate", changeDate);
    }
    // 时间插件change函数
    function changeDate(ev) {
        CHOSE_DATE = ev.date.Format('yyyy-MM-dd');
        initBookInfo(CHOSE_DATE)
    }
    //初始化预定信息
    function initBookInfo(date) {
        $("#shade,#loading").removeClass("hid");
        $.ajax({
            url: '/booking/',
            type: "get",
            data: {date: date},//日期
            success: function (arg) {

                $('#shade,#loading').addClass('hide');
                if (arg.code === 1000) {
                    $('#tBody').empty();
                    $.each(arg.data, function (i, item) {

                        var tr = $("<tr>");
                        $.each(item, function (j, row) {
                            var td = $("<td></td>");

                            $(td).text(row.text);
                            if (!$(td).text()) {
                                $(td).addClass("ite")
                            }


                            $.each(row.attrs, function (k, v) {
                                $(td).attr(k, v);
                            });
                            if (row.chosen) {
                                $(td).addClass('chosen');
                            }
                            $(tr).append(td)
                        });
                        $("#tBody").append(tr);
                    });
                    SELECT_ROOM = {"DEL": {}, "ADD": {}};
                    CHOSE_DATE = new Date().Format("yyyy-MM-dd");

                } else {
                    alert(arg.msg);
                }
            },
            error: function () {
                $('#shade,#loading').addClass('hide');
                alert('请求异常');
            }
        })
    }


    //绑定会议室预定事件
    function BindTdEvent() {
        $("#tBody").on("click", "td[time_id][disable!='true']", function () {
            var room_id = $(this).attr("room_id");
            var time_id = $(this).attr("time_id");
            if ($(this).hasClass("chosen")) {
                //取消预定
                $(this).removeClass("chosen").empty();
                if (SELECT_ROOM.DEL[room_id]) {
                    SELECT_ROOM.DEL[room_id].push(time_id)
                } else {
                    SELECT_ROOM.DEL[room_id] = [time_id]
                }

            } else if ($(this).hasClass("disable")) {
                //取消选择
                $(this).removeClass("disable");
                //查看time_id 是否在SELECT_ROOM.ADD[room_id]中
                var timeIndex = SELECT_ROOM.ADD[room_id].indexOf(time_id);
                if (timeIndex !== -1) {//不在里面indexof 返回-1 ，在里面的话就把它删掉
                    SELECT_ROOM.ADD[room_id].splice(timeIndex, 1);//这个1 表示删几次
                }
            } else {
                $(this).addClass("disable");
                if (SELECT_ROOM.ADD[room_id]) {
                    SELECT_ROOM.ADD[room_id].push(time_id)
                } else {
                    SELECT_ROOM.ADD[room_id] = [time_id]
                }
            }

        })
    }
    //绑定保存事件
    function bindSaveEvent() {
        $(".errors").text("");
        $(".save_data").click(function () {
            $("#shade,#loading").removeClass("hid");
            $.ajax({
                url: "/booking/",
                type: "post",
                headers: {"X-CSRFToken": $.cookie("csrftoken")},
                data: {date: CHOSE_DATE, data: JSON.stringify(SELECT_ROOM)},
                dataType: "json",
                success: function (arg) {

                    $("#shade,#loading").addClass("hid");
                    if (arg.code == 1000) {
                        initBookInfo(CHOSE_DATE);//调用初始化函数
                    } else {
                        $(".errors").text(arg.msg)
                    }
                }

            })
        })
    }

</script>
</body>
</html>